<!doctype html>
<html lang="en">
  <%- include('includes/head'); %>
<body>
  <%- include('includes/nav'); %>
  <div class="container mt-4">
    <h1 class="text-center">İstediğin sayfayı bulamadım.!</h1>
    <img src="/img/404.png" class="img-fluid" alt="bulamadım">
    <h1 class="text-center"><a href="/" class="text-center">Beni ana sayfaya götür...</a></h1>
  </div>

  <%- include('includes/footer'); %>
</body>

</html>
